/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/************
  RESET CSS
*************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Font-family defined here */
body {
	line-height: 1;
  font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*********
  MOBILE
**********/

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  #tabs ul {
    border: 1px solid #000;
  }

  #tabs ul li {
    display: block;
    border-right: none;
    padding: 15px;
    font-size: 1.3em;
    outline: none;
    background-color: #0076AB;
    text-align: center;
  }

  #tabs ul li a {
    color: #fff;
    text-decoration: none;
  }

  #tabs ul li a.active {
    font-weight: bold;
    color: #4d4d4d;
  }

  .tab-content {
    padding: 10%;
    line-height: 1.8;
    font-size: 1.1em;
  }

  .tab-content p {
    color: #333;
  }

}

/**********
  DESKTOP
**********/

@media only screen and (min-width: 768px) {

.wrapper {
  display: block;
  margin: 20% auto;
  background-color: #f1f2f3;
}

#tabs ul li {
  display: inline-block;
  padding: 15px;
  font-size: 1.3em;
  outline: none;
  background-color: #0076AB;
}

#tabs ul li a {
  color: #fff;
  text-decoration: none;
}

#tabs ul li a.active {
  font-weight: bold;
  color: #4d4d4d;
}

.tab-content {
  padding: 25px;
  line-height: 1.8;
  font-size: 1.1em;
}

.tab-content p {
  color: #333;
}
